/*-- nav --*/

.navbar-brand img{
	height:70px;
	width:100px;
}
.header_nav {
	position: absolute;
	
	width: 100%;
	margin: 0 auto;
	padding: 0em 3em;
}

.navbar-default {
	background: none;
	border: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	font-size: 1em;
	line-height: 73px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 15px 0;
}

.navbar-brand span {
	line-height: 30px;
	padding: 0px 5px;
	display: inline-block;
	border: 4px solid #00acee;
}

.navbar-brand span i {
	line-height: 37px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #0b0d0c;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #feba02;
	background: none;
}

.navbar-collapse {
	padding: 0;
	border-top: none;
	box-shadow: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: none;
}

.navbar-right {
	float: left !important;
	margin-right: 0;
	margin-left: 0em;
}

.navbar-nav {
	float: left;
	margin: 1.7em 0em 0 6em;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #ff0101;
}

.nav>li>a {
	font-family: 'Cabin Condensed', sans-serif;
}

nav.navbar.navbar-default {
	margin-top: 1em;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background: none!important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	color: #fff;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
}

.nav_dropdown {
	border-radius: 0;
	background: #ffffff;
	text-align: center;
	padding: 0;
	border: none;
}

.nav_dropdown li a {
	text-transform: uppercase;
	color: #212121;
	font-size: 13px;
	font-weight: 600;
	padding: .8em 0;
}

.nav_dropdown>li>a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #ff0101;
}

.nav_starts ul.nav li a {
	-moz-transition: ease-out 0.3s 0.1s;
	-o-transition: ease-out 0.3s 0.1s;
	-webkit-transition: ease-out 0.3s;
	-webkit-transition-delay: 0.1s;
	transition: ease-out 0.3s 0.1s;
}

.nav_starts ul.nav li a::before {
	height: 2px;
	width: 100%;
	background: #797878;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.nav_starts ul.nav li a::after {
	height: 2px;
	width: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	visibility: hidden;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.nav_starts ul.nav li a:hover::before,
.navbar-default .navbar-nav>.active>a::before {
	visibility: visible;
	top: 100%;
	background: white;
}

.nav_starts ul.nav li a:hover::after,
.navbar-default .navbar-nav>.active>a::after {
	visibility: visible;
	top: 0;
	background: white;
}

.navbar-default {
	background: none;
	border: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-brand {
	font-size: 1em;
	line-height: 27px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 0px 0;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(23, 22, 22, 0.66);
}

.navbar-brand span {
	line-height: 30px;
	padding: 4px;
	display: inline-block;
	border: 4px solid #00acee;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #0b0d0c;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	    color: #feba02;
	background: none;
}

.navbar-nav>li>a {
	padding: 0;
	font-weight: 400;
	line-height: 3;
	letter-spacing: 2px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-collapse {
	padding: 0;
	border-top: none;
	box-shadow: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border: none;
}

.navbar-right {
	float: left;
	margin-right: 0;
	margin-left: 0em;
}

.navbar-nav {
	float: left;
	margin: 1.7em 0em 0 28em;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
li.active a {
	color: #feba02;
}

nav.navbar.navbar-default {
	margin-top: 1em;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	background: none!important;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
}

.navbar-nav > li {
    margin-right: 2em;
}

.nav_dropdown {
	border-radius: 0;
	background: #ffffff;
	text-align: center;
	padding: 0;
	border: none;
}

.nav_dropdown li a {
	text-transform: uppercase;
	color: #212121;
	font-size: 13px;
	font-weight: 600;
	padding: .8em 0;
}

.nav_dropdown li a:before,
.nav_dropdown li a:after {
	display: none;
}

.nav_dropdown>li>a:hover {
	color: #fff!important;
	text-decoration: none;
	background-color: #feba02;
}

.header form {
	width: 60%;
	margin: 100px 20%;
}

.header input[type="text"] {
	outline: none;
	padding: 7px 12px;
	font-size: 18px;
	color: #999;
	width: 79.1%;
	background: #fff;
	border: none;
	letter-spacing: 2px;
}

.header input[type="submit"] {
	outline: none;
	width: 13%;
	background: #feba02;
	font-size: 18px;
	
	color: #fff;
	border: none;
	padding: 7px 12px;
	letter-spacing: 1px;
}

.header input[type="submit"]:hover {
	background: #fff;
	color: #212121;
}

/*-- nav--*/


/*-- /scnd_nav --*/

.header {
	background: url(../images/menu.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	min-height: 300px;
}

ul.scnd_nav_list li {
	display: inline-block;
	text-transform: uppercase;
	color: #030408;
	font-size: 0.9em;
	font-weight: 500;
	letter-spacing: 2px;
}

ul.scnd_nav_list li a {
	color: #00acee;
	text-decoration: none;
}

.second_nav {
	padding: 1em 0;
	background: #f5f5f5;
	text-align: center;
}

.second_nav ul li span {
	padding: 0 1.5em;
}

ul.scnd_nav_list {
	text-align: left;
}

.scnd_nav_inner {
	padding: 0 4em;
}

h3.agile_heading.inner {
	text-align: center;
}
/*-- /scnd_nav --*/



/*-- footer --*/

.footer {
	padding: 4em 0;
	background:#191919;
}

.footer h2 a {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	padding: 0px 0;
	color: #fff!important;
	text-shadow: 1px 1px 2px rgba(23, 22, 22, 0.66);
    text-decoration: none;
}

.footer h2 a i {
	line-height: 30px;
	padding: 4px;
	display: inline-block;
	border: 4px solid #00acee;
}

.footer h2 {
	text-align: center;
	margin: 0;
}

.footer h3 {
	text-align: center;
	font-size: 2.5em;
	color: #fff;
	letter-spacing: 3px;
	padding: .5em 0;
	font-weight: 700;
}

.footer form {
	width: 45%;
	margin: 0 auto;
}

.footer input[type="email"] {
	outline: none;
	padding: 13px 20px;
	font-size: 15px;
	color: #999;
	width: 74.1%;
	background: #fff;
	border: none;
	letter-spacing: 2px;
}

.footer input[type="submit"] {
	outline: none;
	width: 25%;
	background: #feba02;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	border: none;
	padding: 13px 15px;
	letter-spacing: 2px;
}

.footer input[type="submit"]:hover {
	background: #fff;
	color: #212121;
}

.footer_nav_left {
	float: left;
}

.footer_nav_left ul li {
	display: inline-block;
	margin-right: 4em;
}

.footer_nav_left ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
}

.footer_nav {
	margin: 4em 0;
}

.footer_nav_left ul li.active a {
	color: #feba02;
}

.footer_nav_right {
	float: right;
}

.footer_nav_right ul li {
	display: inline-block;
}

.footer_nav_right ul li a {
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	display: inline-block;
	padding-top: .5em;
	font-size: 13px;
	border: 2px solid #fff;
	border-radius: 30px;
}

.footer_nav_right ul li a i {
	padding-top: .4em;
}

.footer_nav_right ul li a:hover {
	background: #00acee;
	border: 2px solid #00acee;
	color: #212121;
}

.footer p {
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
}

.footer p a {
	text-decoration: none;
	color: #00acee;
}

p.footer_paragraph {
	width: 41%;
	margin: 0 auto 3em;
}


/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 55px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/up.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--responsive--*/


@media(max-width:1280px) {
	.navbar-nav {
		margin: 1.7em 0em 0 21em;
	}
}

@media(max-width:1080px) {
	.navbar-nav {
		margin: 1.7em 0em 0 11em;
	}
	.footer form {
		width: 53%;
	}
	.navbar-nav > li {
       margin-right: 1em;
	}
}

@media(max-width:1050px) {
	.navbar-nav {
		margin: 1.7em 0em 0em 5em;
	}
}

@media(max-width:1024px) {
	.footer h3{
		font-size: 2.3em;
	}
	.header {
		min-height: 209px;
	}
	.footer form {
		width: 75%;
	}
}

@media(max-width:991px) {
	.navbar-nav > li {
		margin-right:2em;
	}
	p.footer_paragraph {
		width: 68%;
		margin: 0 auto 2em;
	}
	.footer h3{
		font-size: 2.2em;
	}
	.footer h2 a {
       font-size: 0.9em;
	}
}

@media(max-width:900px) {
	.navbar-nav {
		margin: 1.7em 0em 0 3em;
	}
}

@media(max-width:800px) {
	.navbar-nav > li {
		margin-right: 1.5em;
	}
	.header_nav {
		padding: 0em 1em;
	}
}

@media(max-width:768px) {
	.footer {
		padding: 3em 0;
	}
	.navbar-nav {
		margin: 1.7em 0em 0 2em;
	}
	.header {
		min-height: 149px;
	}
}

@media(max-width:767px) {
	.navbar-toggle {
		margin: 1em 0 0;
	}
	.navbar-default .navbar-toggle {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: rgba(245, 245, 245, 0.71);
        border-radius: 0;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background: rgba(14, 14, 14, 0.78);
		z-index: 999;
	}
	.navbar-right {
		margin: 1em 0 0;
	}
	.navbar-nav {
		margin: 0;
		text-align: center;
		padding: 1em 0 0;
	}
	.navbar-nav>li>a {
		margin: 0;
		display: inline-block;
	}
	.navbar-nav {
		margin: 0;
		text-align: center;
		padding: 1em 0 0;
		width: 100%;
	}
	.header_nav {
		padding: 0em 1em;
	}
	.navbar-header.navbar-left h1 {
		margin-top: 7px;
	}
	.nav>li {
		position: relative;
		display: block;
		margin-bottom: 1em;
	}
	.navbar-nav .dropdown-menu {
		background-color: #00acee;
		color: #fff;
	}
	.navbar-default .navbar-nav .dropdown-menu>li>a {
		color: #111;
	}
	.navbar-nav > li {
		margin-right: 0;
	}
}

@media(max-width:736px) {
	.header {
		min-height: 160px;
	}
	.footer form {
		width: 87%;
	}
	.nav>li {
		margin-bottom: 0.5em;
	}
}

@media(max-width:667px) {
	.footer h3 {
		letter-spacing: 1px;
	}
	p.footer_paragraph {
		width: 80%;
		margin: 0 auto 2em;
	}
	.footer_nav {
		margin: 2em 0;
	}
}

@media(max-width:640px) {
	.footer h3{
		font-size: 2em;
	}
}

@media(max-width:600px) {
	p.footer_paragraph {
		width: 100%;
		margin: 0 auto 2em;
	}
	.footer_nav_left {
		float: none;
		text-align: center;
		margin-bottom: 1em;
	}
	.footer_nav_right {
		float: none;
		text-align: center;
	}
}

@media(max-width:568px) {
	.footer form {
		width: 100%;
	}
	.header {
		min-height: 137px;
	}
	.scnd_nav_inner {
		padding: 0 1em;
	}
}

@media(max-width:480px) {
	.footer h3{
		font-size: 1.8em;
		line-height: 1.4em;
	}
	p {
		font-size: 13px;
	}
	.footer input[type="email"] {
		width: 66%;
	}
	.footer input[type="submit"] {
		width: 33%;
	}
	.navbar-brand {
       font-size: 0.9em;
	}
}

@media(max-width:440px) {
	.footer input[type="email"] {
		width: 64%;
	}
	.footer h3{
		font-size: 1.7em;
		line-height: 1.4em;
	}
	.footer {
		padding: 2em 0;
	}
}

@media(max-width:384px) {
	.footer h3{
		font-size: 1.5em;
		line-height: 1.4em;
	}
	.footer input[type="email"] {
		width: 54%;
	}
	.footer input[type="submit"] {
		width: 44%;
	}
}

@media(max-width:375px) {
	.navbar-brand {
		font-size: 0.8em;
	}
	.footer h3{
		font-size: 1.6em;
	}
}

@media(max-width:320px) {
	.footer_nav_left ul li {
		margin-right: 1em;
	}
	.footer h3, h3.agile_heading {
		font-size: 1.4em;
	}
}


/*--//responsive--*/


/*--body--*/

.res_body h1{
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}

.middle a{
	text-decoration:none;
}

.middle img{
	width:230px;
	height:200px;
}

.middle_des{
	margin-left:120px;
}

#left{
	margin-top:30px;
	width:200px;
	height:1000px;
	border:black;
	background-color:#eff0f2;
	
	
}
#left select{
	width:180px;	
}
.middle{
	margin-left:-190px;
	margin-top:30px;
	width:750px;
	height:350px;
	border:2px solid #c5cddd;
}
.middle p{
	
	padding:10px;
}
.dropbtn {
    background-color: #061733;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.filter{
	padding:10px;
}
	
* {
  box-sizing: border-box;
    
}



.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width:25%;
}

/* The Modal (background) */
.modal2 {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top:px;  
  left:;
  top: 210px;
  width: 100%;
  height: 100%;
  overflow:;
  background-color: black;
    margin-top:-210px;
    margin-left:px;
    margin-right:px;
    

}

/* Modal Content */
.modal-content2 {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1100px;
  
}

/* The Close Button */
.close2{
  color:white;
  
  position:fixed;
  top:-20px;
 
  font-size: 35px;
  font-weight: bold;
}
.close2:hover,
.close2:focus {
	
  color:color:#f9870c;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 65%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom:5px;

}

.caption-container {
  text-align: center;
  background-color:black;
  
  color: white;
}
.text_ref:hover{
	color:black;
}

.text_ref{
	color:black;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.modal2 span{
	position: fixed;
	margin-top: 20px;
	color:white;
}

.column img{
	width:100%;
	height:200px;
}

.mySlides img{
	width:100%;
	height:480px;
}


 #show{
   color:#f9ec36;
    cursor:pointer;     
  }
 #hide{
 color:#f9c402;
 cursor:pointer; 
   }
 #report{		 
  color:red;
  cursor:pointer; 
  }
/*--//body--*/